<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="connectionStringSilver" value="Data Source=gmkonnect.cjjphhjcubky.sa-east-1.rds.amazonaws.com;User ID=eckounltd;Password=cefet123;Initial Catalog=Eagle"/>
  </appSettings>
</configuration>